RetrospectiveSystem/project/RetrospectiveManager/MesClientTest/Connected Services/MesService/MesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MESInterface.Molde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MESInterface.Molde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="LoginUser">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORDINARY_USER" />
      <xs:enumeration value="ADMIN_USER" />
      <xs:enumeration value="TOURIST_USER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:simpleType name="LoginResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER_NAME_ERR" />
      <xs:enumeration value="USER_PWD_ERR" />
      <xs:enumeration value="USER_NAME_PWD_ERR" />
      <xs:enumeration value="FAIL_EXCEP" />
      <xs:enumeration value="SUCCESS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
  <xs:simpleType name="QueryResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXIST_DATA" />
      <xs:enumeration value="NONE_DATE" />
      <xs:enumeration value="EXCEPT_ERR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryResult" nillable="true" type="tns:QueryResult" />
  <xs:simpleType name="RegisterResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REGISTER_SUCCESS" />
      <xs:enumeration value="REGISTER_EXIST_USER" />
      <xs:enumeration value="REGISTER_FAIL_SQL" />
      <xs:enumeration value="REGISTER_ERR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegisterResult" nillable="true" type="tns:RegisterResult" />
</xs:schema>