RetrospectiveSystem/project/MesManager/TestAPI/Connected Services/MesServiceTest/MesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MesWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MesWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.175:8086/MesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MaterialType">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialBubbleCotton" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialFinalStent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialLittleScrew" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialLongScrew" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialLowerShell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialOutterShell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialPCBA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialScrewNut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialSealRing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialSupportPlate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialTempStent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialTopCover" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialUpperShell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialUseAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialWaterProofRing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialWirebean" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductTypeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamLeader" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialType" nillable="true" type="tns:MaterialType" />
</xs:schema>