LoggerConfigurator/LoggerConfigurator/Connected Services/ServiceReference1/FigKeyLoggerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FigKeyLoggerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/FigKeyLoggerWcf.FigKeyLoggerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/FigKeyLoggerWcf.FigKeyLoggerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/FigKeyLoggerWcf.FigKeyLoggerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FigKeyLoggerWcf" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/FigKeyLoggerWcf.FigKeyLoggerService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FigKeyLoggerWcf.Molde" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/FigKeyLoggerWcf.FigKeyLoggerService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FigKeyLoggerWcf.DB" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/FigKeyLoggerWcf.FigKeyLoggerService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFigKeyLoggerService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_SQLConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:SQLConnection" />
  </wsdl:message>
  <wsdl:message name="IFigKeyLoggerService_SQLConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:SQLConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IFigKeyLoggerService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFigKeyLoggerService/GetData" message="tns:IFigKeyLoggerService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFigKeyLoggerService/GetDataResponse" message="tns:IFigKeyLoggerService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IFigKeyLoggerService/GetDataUsingDataContract" message="tns:IFigKeyLoggerService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFigKeyLoggerService/GetDataUsingDataContractResponse" message="tns:IFigKeyLoggerService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IFigKeyLoggerService/Login" message="tns:IFigKeyLoggerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFigKeyLoggerService/LoginResponse" message="tns:IFigKeyLoggerService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IFigKeyLoggerService/GetUserInfo" message="tns:IFigKeyLoggerService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFigKeyLoggerService/GetUserInfoResponse" message="tns:IFigKeyLoggerService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SQLConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IFigKeyLoggerService/SQLConnection" message="tns:IFigKeyLoggerService_SQLConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFigKeyLoggerService/SQLConnectionResponse" message="tns:IFigKeyLoggerService_SQLConnection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFigKeyLoggerService" type="tns:IFigKeyLoggerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IFigKeyLoggerService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IFigKeyLoggerService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IFigKeyLoggerService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IFigKeyLoggerService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SQLConnection">
      <soap:operation soapAction="http://tempuri.org/IFigKeyLoggerService/SQLConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FigKeyLoggerService">
    <wsdl:port name="BasicHttpBinding_IFigKeyLoggerService" binding="tns:BasicHttpBinding_IFigKeyLoggerService">
      <soap:address location="http://localhost:8735/Design_Time_Addresses/FigKeyLoggerWcf.FigKeyLoggerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>