LoggerConfigurator/LoggerConfigurator/Connected Services/ServiceReference1/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FigKeyLoggerWcf.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FigKeyLoggerWcf.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8735/Design_Time_Addresses/FigKeyLoggerWcf.FigKeyLoggerService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="f_user">
    <xs:sequence>
      <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="picture" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
      <xs:element minOccurs="0" name="user_type" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="f_user" nillable="true" type="tns:f_user" />
</xs:schema>