RetrospectiveSystem/project/RetrospectiveManager/RetrospectiveManager/Connected Services/MesService/MesService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MESInterface.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MESInterface.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="LoginUser">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ORDINARY_USER" />
      <xs:enumeration value="ADMIN_USER" />
      <xs:enumeration value="TOURIST_USER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:simpleType name="LoginResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER_NAME_ERR" />
      <xs:enumeration value="USER_PWD_ERR" />
      <xs:enumeration value="USER_NAME_PWD_ERR" />
      <xs:enumeration value="FAIL_EXCEP" />
      <xs:enumeration value="SUCCESS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
  <xs:simpleType name="QueryResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXIST_DATA" />
      <xs:enumeration value="NONE_DATE" />
      <xs:enumeration value="EXCEPT_ERR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryResult" nillable="true" type="tns:QueryResult" />
  <xs:simpleType name="RegisterResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REGISTER_SUCCESS" />
      <xs:enumeration value="REGISTER_EXIST_USER" />
      <xs:enumeration value="REGISTER_FAIL_SQL" />
      <xs:enumeration value="REGISTER_ERR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegisterResult" nillable="true" type="tns:RegisterResult" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="StationID" type="xs:int" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="ArrayOfMaterialMsg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialMsg" nillable="true" type="tns:MaterialMsg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialMsg" nillable="true" type="tns:ArrayOfMaterialMsg" />
  <xs:complexType name="MaterialMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaterialAmount" type="xs:int" />
      <xs:element minOccurs="0" name="MaterialCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialMsg" nillable="true" type="tns:MaterialMsg" />
  <xs:complexType name="PackageProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="BindingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BindingState" type="xs:int" />
      <xs:element minOccurs="0" name="CaseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SnOutter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageProduct" nillable="true" type="tns:PackageProduct" />
</xs:schema>