RetrospectiveSystem/project/RetrospectiveManager/RetrospectiveManager/Connected Services/MesService/MesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.175/MesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.175/MesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.175/MesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MESInterface" />
      <xsd:import schemaLocation="http://192.168.0.175/MesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MESInterface.Molde" />
      <xsd:import schemaLocation="http://192.168.0.175/MesService.svc?xsd=xsd4" />
      <xsd:import schemaLocation="http://192.168.0.175/MesService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMesService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMesService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetAllUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserInfo" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetAllUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IMesService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_Firstcheck_InputMessage">
    <wsdl:part name="parameters" element="tns:Firstcheck" />
  </wsdl:message>
  <wsdl:message name="IMesService_Firstcheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirstcheckResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertWIP_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertWIP" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertWIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertWIPResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertProduce_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProduce" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertProduce_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProduceResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProduce_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProduce" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProduce_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProduceResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdateProduce_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduce" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdateProduce_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduceResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteProduce_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduce" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteProduce_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduceResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllProduce_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllProduce" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllProduce_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllProduceResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteProductType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductType" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteProductType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllProductType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllProductType" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllProductType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllProductTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductType_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductType" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductType_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitProductType_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitProductType" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitProductType_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitProductTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllTypeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllTypeStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllTypeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllTypeStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteTypeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTypeStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteTypeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTypeStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTypeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTypeStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTypeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTypeStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitTypeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitTypeStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitTypeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitTypeStationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetData" message="tns:IMesService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetDataResponse" message="tns:IMesService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetDataUsingDataContract" message="tns:IMesService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetDataUsingDataContractResponse" message="tns:IMesService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/Login" message="tns:IMesService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/LoginResponse" message="tns:IMesService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetUserInfo" message="tns:IMesService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetUserInfoResponse" message="tns:IMesService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetAllUserInfo" message="tns:IMesService_GetAllUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetAllUserInfoResponse" message="tns:IMesService_GetAllUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/Register" message="tns:IMesService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/RegisterResponse" message="tns:IMesService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Firstcheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/Firstcheck" message="tns:IMesService_Firstcheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/FirstcheckResponse" message="tns:IMesService_Firstcheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertWIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/InsertWIP" message="tns:IMesService_InsertWIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/InsertWIPResponse" message="tns:IMesService_InsertWIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduce">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/InsertProduce" message="tns:IMesService_InsertProduce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/InsertProduceResponse" message="tns:IMesService_InsertProduce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProduce">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectProduce" message="tns:IMesService_SelectProduce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectProduceResponse" message="tns:IMesService_SelectProduce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduce">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/UpdateProduce" message="tns:IMesService_UpdateProduce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/UpdateProduceResponse" message="tns:IMesService_UpdateProduce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduce">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteProduce" message="tns:IMesService_DeleteProduce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteProduceResponse" message="tns:IMesService_DeleteProduce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllProduce">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteAllProduce" message="tns:IMesService_DeleteAllProduce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteAllProduceResponse" message="tns:IMesService_DeleteAllProduce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteProductType" message="tns:IMesService_DeleteProductType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteProductTypeResponse" message="tns:IMesService_DeleteProductType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllProductType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteAllProductType" message="tns:IMesService_DeleteAllProductType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteAllProductTypeResponse" message="tns:IMesService_DeleteAllProductType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProductType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectProductType" message="tns:IMesService_SelectProductType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectProductTypeResponse" message="tns:IMesService_SelectProductType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitProductType">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/CommitProductType" message="tns:IMesService_CommitProductType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/CommitProductTypeResponse" message="tns:IMesService_CommitProductType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllTypeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteAllTypeStation" message="tns:IMesService_DeleteAllTypeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteAllTypeStationResponse" message="tns:IMesService_DeleteAllTypeStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTypeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteTypeStation" message="tns:IMesService_DeleteTypeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteTypeStationResponse" message="tns:IMesService_DeleteTypeStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTypeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTypeStation" message="tns:IMesService_SelectTypeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTypeStationResponse" message="tns:IMesService_SelectTypeStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitTypeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/CommitTypeStation" message="tns:IMesService_CommitTypeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/CommitTypeStationResponse" message="tns:IMesService_CommitTypeStation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMesService" type="tns:IMesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMesService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetAllUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IMesService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Firstcheck">
      <soap:operation soapAction="http://tempuri.org/IMesService/Firstcheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWIP">
      <soap:operation soapAction="http://tempuri.org/IMesService/InsertWIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduce">
      <soap:operation soapAction="http://tempuri.org/IMesService/InsertProduce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProduce">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectProduce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduce">
      <soap:operation soapAction="http://tempuri.org/IMesService/UpdateProduce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduce">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteProduce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllProduce">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteAllProduce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductType">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteProductType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllProductType">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteAllProductType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductType">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectProductType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitProductType">
      <soap:operation soapAction="http://tempuri.org/IMesService/CommitProductType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllTypeStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteAllTypeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTypeStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteTypeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTypeStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTypeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitTypeStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/CommitTypeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesService">
    <wsdl:port name="BasicHttpBinding_IMesService" binding="tns:BasicHttpBinding_IMesService">
      <soap:address location="http://192.168.0.175/MesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>