RetrospectiveSystem/project/MesManager/TestAPI/Connected Services/MesService/MesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.175:8086/MesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.175:8086/MesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.175:8086/MesService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMesService_InsertTestResultData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTestResultData" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertTestResultData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTestResultDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectLastTestResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectLastTestResult" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectLastTestResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectLastTestResultResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertMaterialStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMaterialStatistics" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertMaterialStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMaterialStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdatePackageProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePackageProduct" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdatePackageProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePackageProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesService">
    <wsdl:operation name="InsertTestResultData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/InsertTestResultData" message="tns:IMesService_InsertTestResultData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/InsertTestResultDataResponse" message="tns:IMesService_InsertTestResultData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectLastTestResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectLastTestResult" message="tns:IMesService_SelectLastTestResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectLastTestResultResponse" message="tns:IMesService_SelectLastTestResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/InsertMaterialStatistics" message="tns:IMesService_InsertMaterialStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/InsertMaterialStatisticsResponse" message="tns:IMesService_InsertMaterialStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePackageProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/UpdatePackageProduct" message="tns:IMesService_UpdatePackageProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/UpdatePackageProductResponse" message="tns:IMesService_UpdatePackageProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMesService" type="tns:IMesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertTestResultData">
      <soap:operation soapAction="http://tempuri.org/IMesService/InsertTestResultData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLastTestResult">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectLastTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialStatistics">
      <soap:operation soapAction="http://tempuri.org/IMesService/InsertMaterialStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePackageProduct">
      <soap:operation soapAction="http://tempuri.org/IMesService/UpdatePackageProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesService">
    <wsdl:port name="BasicHttpBinding_IMesService" binding="tns:BasicHttpBinding_IMesService">
      <soap:address location="http://192.168.0.175:8086/MesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>