RetrospectiveSystem/project/MesManager/TestAPI/Connected Services/MesService/MesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MESWebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MESWebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PackageProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="BindingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BindingState" type="xs:int" />
      <xs:element minOccurs="0" name="CaseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SnOutter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageProduct" nillable="true" type="tns:PackageProduct" />
</xs:schema>